.page-header
  .pull-right
    =link_to "Edit", edit_plant_entry_feeding_path(@plant_entry, @feeding), class: "btn btn-info"
  %h2 Feeding

%dl.dl-horizontal
  %dt Plant ID #
  %dd= @feeding.plant_id
  %dt Water Amount
  %dd= @feeding.water_amount
  %dt Nutrients Added
  %dd= @feeding.nutrients_added
  %dt PPM Level
  %dd= @feeding.ppm_level
  %dt Ph Level
  %dd= @feeding.ph_level
  %dt Last Feeding
  %dd= @feeding.created_at.strftime("%a, %B %d, %Y, at %l:%M %p")
