= form_for [@plant_entry, @plant_image], html: {class: "form-horizontal", multipart: true} do |f|
  = render partial: "/shared/errors", locals:{object: @plant_image}
  .row
    .well.col-md-offset-2.col-md-8
      .form-group
        = f.label :plant_picture, class: "col-md-4 control-label"
        .col-md-8
          = f.file_field :plant_picture, class: "form-control"
      .form-group
        .col-md-offset-4.col-md-4
          = f.submit class: "btn btn-success form-control"
