= form_for [@plant_entry, @plant_task], html: {class: "form-horizontal"} do |t|
  = render partial: "/shared/errors", locals:{object: @plant_task}
  .row
    .well.col-md-offset-2.col-md-8
      .form-group
        = t.label :topped, class: "col-md-4 control-label"
        .col-md-8
          = t.check_box :topped, class: "form-control"
      .form-group
        = t.label :trimmed, class: "col-md-4 control-label"
        .col-md-8
          = t.check_box :trimmed, class: "form-control"
      .form-group
        = t.label :staked, class: "col-md-4 control-label"
        .col-md-8
          = t.check_box :staked, class: "form-control"
      .form-group
        = t.label :clipped, class: "col-md-4 control-label"
        .col-md-8
          = t.check_box :clipped, class: "form-control"

  .form-group
    .col-md-offset-4.col-md-4
      = t.submit class: "btn btn-success form-control"
