.page-header
  = link_to "New Plant", new_crop_plant_path, class: "btn btn-success pull-right"
  %h2 List of Plants

%table.table.striped
  %thead
    %tr
      %th ID #
      %th Strain Name
      %th Sex
      %th From
      %th Stage of Growth

  %tbody
    - @plants.each do |plant|
      %tr
        %td= plant.id
        %td= link_to plant.strain_name, crop_plant_path(@crop, plant)
        %td= plant.sex
        %td= plant.from
        - @stage_of_growths.each do |stage_of_growth|
          %td= link_to stage_of_growth.stage, plant_stage_of_growths_path(plant)
