.page-header
  = link_to "New Plant", new_crop_plant_path, class: "btn btn-success pull-right"
  %h2 List of Plants

%table.table.striped
  %thead
    %tr
      %th ID #
      %th Strain Name
      %th Sex
      %th From
      %th Stage of Growth
      %th Last Feeding

  %tbody
    - @plants.each do |plant|
      %tr
        %td= plant.id
        %td= link_to plant.strain_name, crop_plant_path(@crop, plant)
        %td= plant.sex
        %td= plant.from
        %td= link_to @latest_stage.stage, plant_stage_of_growths_path(plant)
        %td= link_to @last_fed.created_at.strftime("%a, %B %d, %Y, at %l:%M %p"), plant_feedings_path(plant)
