.page-header
  .pull-right
    =link_to "Edit", edit_plant_stage_of_growth_path(@plant, @stage_of_growth), class: "btn btn-info"
  %h2
    = @stage_of_growth.stage

%dl.dl-horizontal
  %dt Plant ID #
  %dd= @plant.id_number
  %dt Stage
  %dd= @stage_of_growth.stage
  %dt Plant Date
  %dd= @stage_of_growth.plant_date.strftime("%a, %B %d, %Y, at %l:%M %p")
  %dt Pot Size
  %dd= @stage_of_growth.pot_size
  %dt Grow Medium
  %dd= @stage_of_growth.grow_medium
  %dt Nutrients Added
  %dd= @stage_of_growth.nutrients_added
