.page-header
  .pull-right
    =link_to "Edit", edit_plant_stage_of_growth_path(@plant, @stage_of_growth), class: "btn btn-info"
  %h2
    = @stage_of_growth.stage

%dl.dl-horizontal
  %dt Stage
  %dd= @stage_of_growth.stage
  %dt Plant Date
  %dd= @stage_of_growth.plant_date
  %dt Pot Size
  %dd= @stage_of_growth.pot_size
  %dt Grow Medium
  %dd= @stage_of_growth.grow_medium
  %dt Plant ID #
  %dd= @stage_of_growth.plant_id
