.page-header
  %h2 Tip Index

= link_to "Environment", environment_path
%hr= link_to "Cloning", cloning_path
%hr= link_to "Pruning", pruning_path
%hr= link_to "Topping", topping_path
%hr= link_to "Veg State", veg_state_path
%hr= link_to "Bloom State", bloom_state_path
%hr= link_to "Soil", soil_path
%hr= link_to "Hydroponics", hydroponics_path
%hr= link_to "CO2 Enrichment", co2enrichment_path
